.slider {
  width: 100%;
  height: 100%;
  background: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
}
.slide-prepair,
.slide-finish {
  position: absolute;
  top: 50%;
  left: 50%;
}
.slide-bar {
  position: absolute;
  left: 0;
  bottom: 25px;
  text-align: center;
  width: 100%;
}
.slide-item {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.slide-help {
  font-size: 12px;
  color: orange;
  border: 1px solid orange;
  padding: 10px;
  position: absolute;;
  left: 0;
  bottom: 0;
}
